#infoContent {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: -5%;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    padding: 5%;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.489);
    margin-bottom: 5%;
    max-width: 100%;
}

.infoForm {
    display: flex;
    flex-direction: column;
}

.infoTitle {
    margin-top: 0;
}

.infoInputLabel {
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: bold;
}

.infoInput {
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(223, 223, 223);
}