#templateContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(33, 33, 33, 0.489);
    width: 50%;
    min-height: 80vh;
    max-height: 100vh;
}

#header {
    background-color: black;
    min-height: 5%;
}

#nameTitle {
    color: white;
    font-size: 30px;
    margin-bottom: 0;
}

#subHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subTitle {
    color: white;
    font-size: 20px;
}

.sectionTitle {
    background-color: rgb(223, 223, 223);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 5px;
}

.eduContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-left: 10%;
}

.eduItemContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5%;
}

.eduItem {
    font-size: 18px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 500;
}

.eduItemBold {
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}